# build files
build/
*.o
*.a
*.out
*.so
*.d
*.png
*.tiff
./*.jpg

# editor cache
.cache/
compile_commands.json

# debugging files
vgcore.*

# data directories
data.txt
datasets/
heightmap/
cache/
*.ini
*.txt

